.page{
	padding:5.7vh 3.95vw 0 4.1vw;
	position:relative;
	flex-grow:1;
	height: 100vh;
	background-color: #fff;
}

.date{
	color: #314659;
	font-size:4.62vh;
	font-weight:800;
	margin-bottom:7vh;
	font-family:Roboto;
	position:absolute;
}

.buttonPlus{
	display:flex;
	align-items:center; 
	justify-content:center; 
	width:6.1vw;
	height:6.1vw; 
	background-color:#314659 !important;
	border-radius:15%;
	position:absolute;
	right:4vw;
	bottom:5.6vh; 
}

.buttonPlus:hover{
	opacity:0.7;
}

.popover{
	font-size:2.3vh;
	color:#314659;
	padding:0 0.8vw 0 1vw;
}

.titleModal{
	display: inline-block;
	font-size:2.6vh;
	font-family:Roboto;
	color:#000;
	margin-bottom:5vh; 
	font-weight:500;
}
