@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16;
}

:root {
    --auth-background: linear-gradient(
        296deg,
        #314659 8.26%,
        rgba(49, 70, 89, 0) 81.63%
    );
    --accent: '#314659';
    --hover-background-green: '#24323E';
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    font-size: 25px;
    font-weight: 700;
}
a {
    text-decoration: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --auth-background: linear-gradient(
        296deg,
        #314659 8.26%,
        rgba(49, 70, 89, 0) 81.63%
    );
}

.ant-select-single .ant-select-selector {
    font-size: 1.1vw !important;
}
.ant-select-selector {
    box-shadow: none !important;
    --ant-color-primary: #24323e;
}

.ant-picker-calendar-header{
    justify-content: start !important;
    margin-bottom: 1.38vh !important;
}

.ant-picker-panel{
    border: 0px solid #fff !important;
}

.ant-picker-calendar-date-today{
    color:rgba(49, 70, 89, 1) !important;
    background-color: #fff !important;
    border: 1px solid rgba(49, 70, 89, 1) !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before{
    border: 1px solid rgba(49, 70, 89, 1) !important;
}

.ant-picker-calendar-date{
    width:2.34vw !important;
    height:2.34vw !important;
}

.ant-picker-calendar-date-value{

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.09vw;
}

.ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
   
    background-color: rgba(49, 70, 89, 1) !important;
    color: #fff !important;

}

.ant-picker-cell-in-view{
    color:rgba(49, 70, 89, 1) !important;

}

.ant-picker-content{
    color: rgba(97, 97, 97, 1) !important;
    font-size: 1.09vw !important;
}

.ant-picker-calendar-year-select, .ant-picker-calendar-mode-switch {
    display: none !important;
}

.ant-select-arrow{
    display: none !important;
}

.ant-select-selector{
    background-color: rgba(49, 70, 89, 1) !important;
    width: 6vw !important;
    height: 2.34vw !important;
    border-radius: 7.5px !important;

}

.ant-select-selection-item{
    font-size: 1.09vw !important;
    color: #fff !important;
    padding-inline-end: 0 !important;
    text-align: center !important;
}


.ant-picker-calendar-header{
    padding: 0.63vw 0.42vw !important;
    margin-bottom: 0.68vw !important;
}

.ant-picker-body{
    padding: 0.42vw 0 !important;
}
