@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16;
}

:root {
    --auth-background: linear-gradient(
        296deg,
        #314659 8.26%,
        rgba(49, 70, 89, 0) 81.63%
    );
    --accent: '#314659';
    --hover-background-green: '#24323E';
    --red: '#D13D3D';
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    font-size: 25px;
    font-weight: 700;
}
a {
    text-decoration: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --auth-background: linear-gradient(
        296deg,
        #314659 8.26%,
        rgba(49, 70, 89, 0) 81.63%
    );
}

.ant-checkbox-checked .ant-checkbox-inner:after {
    /* display: none !important; */
}
.ant-select-focused.ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: #24323e !important;
    box-shadow: none !important;
}
.ant-select-single .ant-select-selector {
    font-size: 1.1vw !important;
}
::-webkit-scrollbar {
    width: 0.57vw;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 20px;
}
