.modal{
	padding: 11px 72px 28px 51px;
}

.title{
	font-size: 27.45px;
	line-height: 32.17px;
	font-weight: 600;
	font-family: 'Roboto';
	margin-bottom: 45px;
}

.body{
	margin-bottom: 279px;
}

.label{
	font-size: 22.06px;
	font-weight: 500;
	font-family: 'Roboto';
	line-height:25.85px;
}

.field{
	width: 100%;
	height: 60px;
	align-items: center;
	border-radius: 5px;
	padding-left: 23px;
	font-family: 'Roboto';
	font-size: 20px;
	background-color: rgba(235, 236, 239, 1);
	color:rgba(49, 70, 89, 1);
}

.file{
	border: 1px solid rgba(49, 70, 89, 1);
}

.status_made{
	background-color: rgba(238, 242, 252, 1);
	border: 1px solid rgba(20, 54, 123, 1);
	color:rgba(20, 54, 123, 1);
}

.status_process{
	background-color: rgba(255, 246, 235, 1);
	border: 1px solid rgba(143, 79, 0, 1);
	color:rgba(143, 79, 0, 1);
}

.button{
	height: 52px;
	width: 202px;
	font-size: 22px;
	font-weight: 500;
	align-self: flex-end;
}