.btnFile {
    max-width: 15.1vw;
    height: 5.37vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c5c5c5;
    border-radius: 8px;
    margin-right: 1.77vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titleFile {
    font-size: 1.85vh;
    font-weight: 400;
}
