.numOrder{
	display: inline-block;
	font-size:2.6vh;
	font-family:Roboto;
	color:#000;
	margin-bottom:0.2vh; 
	font-weight:600;
}

.form{
	height: 64.8vh;
}

.inputFile{
	margin-top: 1.3vh;
	margin-bottom: 0 !important;
}

.titleModal{
	display: inline-block;
	font-size:2.26vh;
	font-family:Roboto;
	color:#2D3748;
	margin-bottom:1.76vh; 
	font-weight:500;
}

.wrapperFilesApproval{
	background:#EBECEF;
	padding:1.1vh 1.25vw 1.1vh 0.94vw;
	height: 75px;
	width: 100%;
	margin-bottom: 3vh;
}

.filesApproval{
	display: flex;
    flex-wrap: wrap;
    overflow:auto;
    width: 100%;
	row-gap: 1.68vh;
	outline: none !important;
	resize:none !important;
	
}

.filesApproval::-webkit-scrollbar{
	width:0.57vw;
}

.filesApproval::-webkit-scrollbar-track{
	background:#fff;
	border-radius: 20px;
}
.filesApproval::-webkit-scrollbar-thumb{
	background: #717171;
	border-radius: 20px;
}

.titleSection{
	display: inline-block;
	font-size:2.03vh;
	font-family:Roboto;
	color:#24323E;
	margin-bottom:1.76vh; 
	font-weight:500;
	width: 100%;
}

.btnFile{
	width:15.1vw;
	height: 5.37vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10px;
	border: 2px solid #C5C5C5;
	margin-right: 1.77vw;
	/*margin-bottom: 1.68vh;*/
}

.titleFile{
	font-size: 1.85vh;
	font-weight: 400;
}

.buttons{
	gap:50px;
	position:absolute;
	bottom:0;
	right:0;
	margin-right:3.2vw;
	margin-bottom:3.7vh;
}

.buttonNoApprove, .buttonApprove{
	width: 11.6vw;
	height: 4.9vh;
	color: #FFFFFF !important;
	font-size: 2vh;
}

.buttonNoApprove{
	background-color: #D13D3D !important;
	border:1px solid #D13D3D !important;
}

.buttonNoApprove:hover{
	opacity: 0.7;
}

.buttonApprove{
	background-color: #7CB025 !important;
	border:1px solid #7CB025 !important;
}

.buttonApprove:hover{
	opacity: 0.7;
}

