.step_name {
    display: inline;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.stage {
    text-align: left;
    align-items: start;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.responsible {
    padding-bottom: 2.5vh;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.btn_container {
    border: 1px solid #d9d9d9;
    padding: 7px 3px 8.5px 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_container:hover {
    border-color: #314659;
}
.open_btn {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 10px;
    height: 1px;
}
.open_btn::before,
.open_btn::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background: #000;
}
.open_btn::before {
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    rotate: 90;
}
.open_btn::after {
    transition: bottom 0.3s 0.15s, transform 0.3s;
    transform: rotate(90deg);
}
.open_btn.active::before {
    transform: rotate(180deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.open_btn.active::after {
    transform: rotate(180deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation: fadeInDown 0.5s ease forwards;
}
.fadeInDown {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 1s ease;
}

.fadeInDown.active2 {
    opacity: 1;
    transform: translateY(0);
}
.hidden {
    display: none;
}
