.step_name {
    display: inline;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.stage {
    text-align: left;
    align-items: start;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.responsible {
    padding-bottom: 2.5vh;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
