.table {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    table-layout: fixed;
    font-size: 16;
    box-shadow: 0 0 5px 2px #00000040;
    width: 65.3vw;
    margin-top: 12vh;
    margin-bottom: 2vh;
    color: #314659;
    font-family: 'Inter', sans-serif;
    overflow: auto;
}
.table th {
    font-weight: bold;
    padding: 5px;
    color: var(--accent);
    color: #314659;
    text-transform: uppercase;
    padding-bottom: 1vh;
    text-align: center;
}
.row {
    margin-bottom: 3.2vh;
}
.row_title {
    font-weight: bold;
    padding: 5px;
    color: var(--accent);
    color: #314659;
    text-transform: uppercase;
    padding-bottom: 1vh;
    text-align: center;
    font-size: 1vw;
}
.table td {
    padding-left: 2vw;
}
.child_table {
    display: flex;
    gap: 1.8vw;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.5vh;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.stage {
    padding-bottom: 1vh;
    text-align: left;
    align-items: start;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.check {
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.step_name {
    cursor: pointer;
}
.responsible {
    padding-bottom: 1vh;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.1vw;
}
.show {
    display: none;
}
.donShow {
    display: table-row;
}
.btn_container {
    border: 1px solid #d9d9d9;
    padding: 7px 3px 8.5px 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_container:hover {
    border-color: #314659;
}
.open_btn {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 10px;
    height: 1px;
}

.open_btn::before,
.open_btn::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background: #000;
}
.open_btn::before {
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s ease-out;
    rotate: 90;
}
.open_btn::after {
    transition: bottom 0.3s 0.15s, transform 0.3s ease-out;
    transform: rotate(90deg);
}
.open_btn.active::before {
    transform: rotate(180deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s ease-out;
}
.open_btn.active::after {
    transform: rotate(180deg);
    transition: bottom 0.3s, transform 0.3s 0.15s ease-out;
}
.activeOrder {
    --ant-color-primary: red !important;
    --ant-color-border: red !important;
    --ant-color-primary-hover: red !important;
}
.unactiveOrder {
    --ant-color-primary: #314659;
    --ant-color-border: #24323e;
    --ant-color-primary-hover: #314659;
}
.pagination {
    text-align: end;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation: fadeInDown 0.5s ease forwards;
}
.fadeInDown {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 1s ease;
}

.fadeInDown.active2 {
    opacity: 1;
    transform: translateY(0);
}
.hidden {
    display: none;
}
