.btnSave {
    background-color: #314659;
    color: #fff !important;
    width: 11.6vw;
    height: 5vh;
    margin: 0 2.2vw 5.4vh 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2vh;
    font-weight: 500;
    font-family: Roboto;
}

.btnSave:hover {
    background: #24323e !important;
}
